In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import joblib
import pandas as pd

In [2]:
# Membaca dataset/read daraset
data = pd.read_csv('SMSSpamCollection', sep='\t', header=None, names=['label', 'message'])

# Melihat beberapa baris data/ View the 5 first data
data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
# Mengonversi label menjadi angka/converts label into number
data['label'] = data['label'].map({'ham': 0, 'spam': 1})

# Memisahkan fitur dan label/ split feature and label
X = data['message']
y = data['label']

In [4]:
# Membagi data menjadi set pelatihan dan pengujian/ divide data into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Mengonversi teks menjadi fitur numerik/converts text into numeric (using TDM COunt Vectorizer)
vectorizer = CountVectorizer()
X_train_transformed = vectorizer.fit_transform(X_train)
X_test_transformed = vectorizer.transform(X_test)

In [6]:
# Melatih model / train model using Naive Bayes Classifier
model = MultinomialNB()
model.fit(X_train_transformed, y_train)

MultinomialNB()

In [7]:
# Menyimpan model dan vectorizer/ save training model and vectorizer
joblib.dump(model, 'text_classifier_model.pkl')
joblib.dump(vectorizer, 'vectorizer.pkl')

['vectorizer.pkl']